<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" style="margin-right: 5px;">Save</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>

      <div class="row" style="margin-top: 10px;">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              class="form-control"
              type="text"
              id="name"
            >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              class="form-control"
              type="text"
              id="imagePath"
            >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <img src="" alt="image" class="img-responsive">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              rows="6"
              class="form-control"
              type="text"
              id="description"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-8">
              <input
                rows="6"
                class="form-control"
                type="text"
              >
            </div>
            <div class="col-xs-2">
              <input
                rows="6"
                class="form-control"
                type="number"
              >
            </div>
            <div class="col-xs-2">
              <button class="btn btn-danger">X</button>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
